#tools {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tool {
    border-radius: 10px;
    background-color: #2541B2;
    cursor: pointer;

    color: white;
    text-decoration: none;

    padding: 20px 30px;
    margin: 10px;
}